Spain/Data/04_models/model_arima_blueberries_es.pkl
Spain/Data/04_models/model_arima_blueberries_es_copy.pkl
Spain/Data/04_models/model_arima_raspberries_es.pkl
Spain/Data/04_models/model_arima_strawberries_es.pkl
Spain/Data/04_models/model_sarimax_blueberries_es.pkl